$_container-width: 1200px; // PCのコンテナmax-width
$_container-gutter: 2rem; // コンテナの左右の余白
$_container-gutter-sm: 1rem; // スマホ用コンテナの左右の余白

$_container-spacer-xl: 6rem;
$_container-spacer-lg: 4rem;
$_container-spacer-md: 2rem;
$_container-spacer-sm: 1rem;
$_container-spacer-xs: 0.5rem;
